
#pointV{
    color: green;
}
#secDiv{
    position: sticky;
    display: flex;
    background-color: rgb(215, 211, 211);
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    align-items: center;
}
#divT{
    display: flex;
    align-items: center;
}
#divT p{
    margin-left:10px;
    color: rgba(0, 0, 0, 0.244);
}
#divMo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 8vw;
    background-color: rgba(29,212,193,255);
    color: white;
    border-radius:20px;
}
