#pointV {
    color: green;
}

body {
    margin: 0;
}

#secDiv {
    z-index: 999;
    position: fixed;
    display: flex;
    background-color: rgb(215, 211, 211);
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    align-items: center;
}

#divT {
    display: flex;
    align-items: center;
}

#divT {

    p {
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.244);
        transition: 1s;
    }
}

#divMo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 8vw;
    background-color: rgba(29, 212, 193, 255);
    color: white;
    border-radius: 20px;
}

#divMo:hover {
    background-color: red;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}





// modal

.tblanc {
    color: white !important;
}

.noir {
    background-color: black !important;
    color: white !important;
}

.noir2 {
    background-color: black !important;
    color: black;
}

#dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 12vw;
    background-color: rgba(29, 212, 193, 255);
    color: white;
    border-radius: 20px;
    border: none;
}

#dark:hover {
    background-color: red;
}


//modal 

.modal {
    margin-left: 25%;
    position: fixed;
    z-index: 1;
    width: 50vw !important;
    height: 60vh !important;
}

.modal-content {
    background-color: blue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    i{
        color: red;
    }
    i:hover{
        color: rgba(29,212,193,255);
    }
    }

.close {
    color: red;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#divForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29,212,193,255);
    height: 35vh;
    h2{
        color: black;
    }
}
#conn{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 11vw;
    background-color: rgba(29, 212, 193, 255);
    color: white;
    border-radius: 20px;
    border: 2px solid black;
}
#conn:hover{
    background-color: red;
}
#mdpOub{
    margin-top: 1%;
    height: 5vh;
    width: 11vw;
    background-color: rgba(29, 212, 193, 255);
    color: white;
    border-radius: 20px;
    border: 2px solid black;
}
#mdpOub:hover{
    background-color: red;
}