
// Tablette


@media only screen and (max-width: 769px){
    #secDiv{
        width: 100%;
    }
    #divMo{
        width: 20vw;
    }
    #bts1{
        width: 15vw;
    }
    #dark{
        width: 20vw;
    }
    #s1{
        width: 110%;
    }
    #s2{
        width: 110%;
    }
    #s3{
        height: 180vh;
        width: 110%;
        margin-top: 40%;
        flex-direction: column;
    }
    .d2s3{
        margin-top: 8%;
        width: 40%;
    }
    textarea{
        width: 40%;
    }
    #d1s3{
        width: 40%;
        button{
            width: 30%;
            height: 15%;
        }
    }
    #s4{
        width: 110%;
    }
    #s5{
        width: 110%;
        height: 180vh;
    }
    #dcard1{
        flex-direction: column;
        position: relative;
        margin-top: 30%;
        height: 40vh;
        img{
            height: 110px;
        }
    }
    #dcard2{
        flex-direction: column;
        width: 20%;
        margin-left: 30%;
        position: absolute;
        margin-top: 62%;
        img{
            height: 110px;
        }
    }
    #s6{
        height: 70vh;
        width: 110%;
    }
    .sousdcom{
        img{
            margin-left: 60%;
            position: absolute;
            margin-top: 20%;
        }
    }
    #s7{
        width: 110%;
        height: 80vh;
    }
    .dcom2{
        width: 60%;
        position: absolute;
        margin-left: 20%;
        margin-top: 5%;
    }
    #s8{
        height: 100vh;
        width: 110%;
        i{
            position: absolute;
        }
    }
    
    #sousd2s8_1{
        height: 60%;
        img{
            opacity: 0;
        }
    }
    #sousd2s8_2{
        height: 60%;
        img{
            opacity: 0;
        }
    }
    #sousd2s8_3{
        height: 60%;
        img{
            opacity: 0;
        }
    }
    #s9{
        width: 110%;
        input{
            width: 20%;
        }
        #bts9{
            height: 8vh;
            width: 22vw;
        }
    }
    #s10{
        width: 110%;
    }
    .dcom22{
        div{
            width: 330px;
        }
    }
    #s11{
        width: 110%;
        height: 140vh;
        iframe{
            width: 95%;
        }
    }
    footer{
        width: 110%;
        height: 110%;
        div{
            margin-left: 5%;
        }
    }
}

@media only screen and (max-width: 376px){

    #secDiv{
        position: relative;
        width: 120%;
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    #dark{
        width: 35vw;

    }
    #divMo{
        width: 35vw;
    }
    #modal{
        input{
            width: 90%;
        }
        
    }
    #mdpOub{
        width: 110%;
    }
    #divT{
        display: flex;
        flex-direction: column;
    }
    #s1{
        width: 120%;
        img{
            width: 70%;
            height: 60%;
            margin-left: 40%;
        }
    }
    #sDiv1{
        width: 50%;
    }
    #bt1{
        width: 35vw;
        height: 25vh;
    }
    #bts1{
        width: 35vw;
    }
    #im1{
        width: 50%;
        margin-left: 2%;
    }
    textarea{
        width: 100%;
    }
    #s6{
        display: none;
    }
    #s2{
        height: 20vh;
        width: 100%;
        padding-bottom: 100px;
    }
    #dim2{
        display: none;
    }
    #divImg{
        display: none;
    }
    #divBlanche{
        display: none;
    }
    #sous2{
        width: 100vw !important;
    }
    #s3{
        width: 120%;
    }
    .d2s3{
        margin-top: 15%;
    }
    #d1s3{
        height: 40vh;
        button{
            display: none;
        }
    }
    #s4{
        width: 120%;
    }
    #s5{
        width: 120%;
        height: 150vh;
    }
    #dcard1{
        flex-direction: column;
        position: relative;
        margin-top: 80%;
        height: 40vh;
        img{
            height: 60px;
        }
    }
    #dimgCard{
        p{
            font-size: 7px;
        }
    }
    #dcard2{
        flex-direction: column;
        width: 20%;
        margin-left: 30%;
        position: absolute;
        margin-top: 92% !important;
        img{
            height: 60px;
        }
    }
    #s7{
        margin-top: 10vh;
        width: 120%;
    }
    .dcom2{
        width: 90%;
        height: 60%;
        position: absolute;
        margin-left: 10%;
        margin-top: 10%;   
     }
     #divbtcar11{
        margin-top: 13%;
     }
   


     #s8{
        height: 80vh;
        width: 120%;
        i{
            position: absolute;
        }
    }
    #d2s8{
        height: 50%;
    }
    #sousd2s8_1{
        height: 70%;
        p{
            display: none;
        }
        img{
            opacity: 0;
        }
    }
    #sousd2s8_2{
        height: 70%;
        p{
            display: none;
        }
        img{
            opacity: 0;
        }
    }
    #sousd2s8_3{
        height: 70%;
        p{
            display: none;
        }
        img{
            opacity: 0;
        }
    }
    #s9{
        width: 120%;
    }
    #d2s9{
        input{
            width: 60px;
        }
    }
    #s10{
        width: 120%;
        height: 80vh;
    }
    .dcom22{
        div{
            width: 450px;
        }
    }
    #s11{
        width: 120%;
        height: 100vh;
        iframe{
            width: 95%;
        }
    }
    #d1ss1v2{
        height: 50vh;
    }
    #d3s11{
        height: 30vh;
        width: 100%;
        p{
            font-size: 0px;
        }
    }
    #d3s12{
        height: 30vh;
        width: 100%;
        p{
            font-size: 0px;
        }
    }
    #bts11{
        width: 35vw;
    }
    footer{
        width: 120%;
        p{
            font-size: 15px;
        }
    }
}