#s1{

    width: 100vw;
}
#dTot1{
    display: flex;
    padding-block:60px ;
    width: 100vw;
    background-color: rgba(238,239,239,255);

}
#sDiv1{
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#bts1{
    height: 5vh;
    width: 8vw;
    background-color: rgba(29,212,193,255);
    color: white;
    border-radius:20px;
    border: none;
}
#bts1:hover{
    background-color: red;
    color: white;
}
#bts2:hover{
    color: red;
}
#sDiv1 i{
    color: rgba(29,212,193,255);
}
#bts2{
    color: rgba(29,212,193,255);
    border: none;
    background-color: transparent;
}
#spnoir{
    color: black;
}