#s5{
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

#s5 h1{
    font-family:cook;
}
#sps5{
    color: rgba(29,212,193,255);
}
#dtitres5{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dtitres5 p{
    margin-top: 10%;
    margin-left: 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
#dtitres5 p:hover{
    color: rgba(29,212,193,255);
    border-bottom: 1px solid rgba(29,212,193,255);
}
#dtitres5 p:visited{
    color: rgba(29,212,193,255);
    font-weight: bold;
    border-bottom: 1px solid rgba(29,212,193,255);
}
#dcard1{
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    margin-top: 3%;
    height: 30vh;
    transition: 0.5s;
}
#dcard2{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    margin-top: 10%;
    transition: 0.5s;

}
#pMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#str1{
    color: rgba(29,212,193,255);
    font-size: 30px;
}
#dimgCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    text-align: center;
}

.prixVert{
    color:rgba(29,212,193,255);
    font-size: 20px;
}

.opac{
    opacity: 0;
}
