#s2{
    padding-top:8vh ;
    height: 80vh;
}
#ds2{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#spab{
    color: rgba(29,212,193,255);
}
#ds2 h3{
    font-family: "cook";
    font-size: 50px;
}